Vamos a trabajar con datos de verdad. Podéis encontrar una serie de conjuntos de datos que vamos a meter en dataframes:

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

/var/folders/nq/192typw95wxcbpc296njlyy00000gn/T/ipykernel_23879/3153033848.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Una forma cómoda de cargar los datos puede ser subirlos en formato .csv a un *gist* de *GitHub* y utilizar la función *read_csv* de pandas pasándole la url del *gist*.<br></br>
No va a hacer falta que lo hagáis en estos ejercicios, pero está bien saberlo para el futuro. Os explicaremos bien cómo se hace cuando os toque usarlo.

In [2]:
gasolina_url = "https://gist.githubusercontent.com/w-dan/4a788daed122583e3cabd7b81a2b3aea/raw/9129ed5974093d73623fb653899f385325c0e18e/gas.csv"
felicidad_url = "https://gist.githubusercontent.com/w-dan/43e1bb780e5a6623764f78925aa31337/raw/ecc871ef48fc16a8364ce06d7e72a7a4ce07f790/happiness.csv"

In [3]:
df_gasolina = pd.read_csv(gasolina_url)
df_felicidad = pd.read_csv(felicidad_url)

Visualizamos el dataframe de los precios mensuales de gasolina, por ejemplo:

In [4]:
df_gasolina

,Fiscal Year,Fiscal Week,Current Year Production,Previous Year Production,Current Year Cumulative Production
0,2023,16,2393748000,2417856000,3.964972e+10
1,2023,15,2367876000,2324364000,3.725597e+10
2,2023,14,2222052000,2402568000,3.488810e+10
3,2023,13,2209116000,2858856000,3.266605e+10
4,2023,12,2742138000,2641884000,3.045693e+10
...,...,...,...,...,...
168,2020,5,2688630000,2675106000,1.391590e+10
169,2020,4,2876496000,2723028000,1.122727e+10
170,2020,3,2819460000,2741256000,8.350776e+09
171,2020,2,2750076000,2699508000,5.531316e+09
172,2020,1,2781240000,2668932000,2.781240e+09

Poco legible, ¿verdad? Vamos a intentar hacerlo un poco más visible.

## Ejercicio 1

Representa gráficamente las columnas "Current Year Production" y "Current Year Cumulative Production". ¿Qué distribución dirías que siguen por su aspecto? ¿Borrarías datos? En caso afirmativo, ¿cuáles?
*Esto aplica para todos los ejercicios, pero puedes insertar tantas celdas de código como necesites.*

## Ejercicio 2

Crea una nueva columna "Diferencia" en el dataframe que contenga la diferencia entre la cantidad producida en el año actual (Current Year Production) y el año anterior (Previous Year Production).

## Ejercicio 3

## 3.1
Acota los valores de la columna "Current Year Cumulative Production" entre 0 y 1.

### 3.2
¿Qué columnas eliminarías por no aportar nada de información?

### 3.3

¿Podrías aplicar un StandardScaler a alguna de las columnas del DataFrame? ¿Por qué?

## Ejercicio 4

### 4.1

En el DataFrame `df_felicidad`, convierte la columna "Country or region" a un valor numérico. Utiliza los dos métodos que has aprendido.

### 4.2

¿Cuál de los dos métodos te parece mejor? ¿Por qué?

# Ejercicio 5

### 5.1

Averigua si el DataFrame `df_felicidad` tiene elementos nulos. Consigue todas las filas en las que haya elementos nulos.

### 5.2

Elimina los nulos de `df_felicidad`.

### 5.3

Sustituye todos los nulos que haya en la columna "Score_2018" por la media de los valores de esa columna.