# Práctica 1: webscraping y visualización

**Objetivo de la práctica**: recopilar, estructurar, limpiar y procesar datos de Internet.

*Se darán por válidas las soluciones con BeautifulSoup y regex*  

**Autor(es)**
- Nombre 1
- Nombre 2
- ...

---

In [1]:
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Parte 1: recopilación y estructuración del dataset

Crea un DataFrame con los datos de la url especificada en la constante `URL` y los nombres de columnas recogidos en la lista `column_names`. Utiliza el siguiente como ejemplo:


| Pais                  | Capital          | Poblacion | Area |
|-----------------------|------------------|-----------|------------|
| Andorra               | Andorra la Vella| 84000     | 468.0      |
| United Arab Emirates  | Abu Dhabi        | 4975593   | 82880.0    |
| Afghanistan           | Kabul            | 29121286  | 647500.0   |
| Antigua and Barbuda   | St. John's       | 86754     | 443.0      |
| Anguilla              | The Valley       | 13254     | 102.0      |
| Albania               | Tirana           | 2986952   | 28748.0    |

In [4]:
URL = "http://www.scrapethissite.com/pages/simple/"

# nombres de las columnas del dataframe, así tenemos todos los mismos
column_names = ['Pais', 'Capital', 'Poblacion', 'Area']

# Parte 2: limpieza del dataset

2a) Elimina los valores nulos, si los hubiera. Si los hubiera, ¿destruirías la fila entera o sustituirías el valor nulo por 0?

(respuesta de texto aquí)

2b) Asegura que las columnas `País` y `Capital` son de tipo `str`.

2c) Aplica el mismo procedimiento para las columnas numéricas `Poblacion` y `Area`

# Parte 3: procesamiento del dataset

3a) Añade la siguiente columna derivada al dataset:
- Densidad de población (Habitantes/km^2)

3b) Representa la distribución de la variable `Poblacion`.

3c) ¿Existe alguna correlación entre las variables `Poblacion` y `Area`? Justifica tu respuesta.